waste_to_energy_10k.csv
validated_waste_data.csv
clean_waste_to_energy_data.csv
energy_regression_model.pkl
method_classification_model.pkl
waste_to_energy_10000.csv
cleaned_dataset.csv
converted_dataset.csv
expanded_waste_dataset.csv
processed_waste_dataset.csv
doc_to_csv
waste_to_energy_dataset.csv
Dataset.docx
energy_model.pkl